.show_area {
  width: 400px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 20px;
  justify-self: center;
  margin-top: 100px;
  display: flex;
  align-items: center;
  position: relative;
}
.left_btn {
  width: 70px;
  height: 40px;
  background-color: aquamarine;
  border-radius: 20px;
  float: left;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}
.right_btn {
  width: 70px;
  height: 40px;
  background-color: aquamarine;
  border-radius: 20px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}
.mid_btn {
  width: 70px;
  height: 40px;
  background-color: aquamarine;
  border-radius: 20px;
  position: relative;
  margin-left: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

.green {
  background-color: #00cc00;
  color: white;
}

.red {
  background-color: #ff0033;
  color: white;
}

.left_btn:empty,
.right_btn:empty,
.mid_btn:empty {
  visibility: hidden;
}

.btn_group {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.yes_btn {
  width: 70px;
  height: 40px;
  margin: 0px 25px;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  background-color: #00cc00;
}
.no_btn {
  width: 70px;
  height: 40px;
  margin: 0px 25px;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  background-color: #ff0033;
}

@keyframes moveToMidFromLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes moveToMidFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}

.move_left {
  animation: moveToMidFromLeft 1s forwards;
}

.move_right {
  animation: moveToMidFromRight 1s forwards;
}
